	/* header */
 
    .header {
        color: #2F2F2F;;
        position: static;
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        margin-top: 8px;
        background-color: #ffff;
        text-transform: uppercase;
    }

    .btn-a {
        background: transparent;
        border: 1px solid grey;
        color: #2F2F2F;
        border-radius: 10px;
        margin-top: 8px;
        margin-right: 100px;
        height: 0px;
    }
     
    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        color: #000000;
    }
     
    .header li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        font-weight: normal;
    }
     
    .header li a:hover,
    .header .menu-btn:hover {
        color: #000000;
    }
     
    .tittle {
        height: 33px;
        left: 0px;
        top: 25.5px;
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        background-color: #ffff;
        margin-top: 10px;
        margin-left: 95px;
    }
     
     
    /* menu */
     
    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
     
     
    /* menu icon */
     
    .header .menu-icon {
        display:block;
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
     
    .header .menu-icon .navicon {
        color: #000000;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
     
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
     
    .header .menu-icon .navicon:before {
        top: 5px;
    }
     
    .header .menu-icon .navicon:after {
        top: -5px;
    }
     
     
    /* menu btn */
     
    .menu-btn {
        display: none;
    }
     
    .header .menu-btn:checked~.menu {
        max-height: 240px;
    }
     
    .header .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
     
    .header .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
     
    .header .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
     
    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
     
     
    /* 48em = 768px */
     
    @media (min-width: 48em) {
        .header li {
            float: left;
        }
        .header li a {
            padding: 20px 30px;
        }
        .header .menu {
            clear: none;
            float: right;
            max-height: none;
        }
        .header .menu-icon {
            display: none;
        }
    }