.card-1 {
    padding: 50px 100px;
    background-color: #FFFBF5;
}

.btn-1 {
    background-color: #6EBA93;
    border-radius: 6px;
    color: #ffffff;
    width: 216px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: #6EBA93;
}
.container {
    display: grid;
    padding: 0px 0px;
    column-gap: 20px;
}
.container-1 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-auto-flow: row;
    padding: 50px 150px;
    column-gap: 20px;
}
 
.Titel-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    width: 193px;
}

.content-c {
    width: 240px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
}

.nambar {
    font-family: 'Roboto';
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    row-gap: 0px;
    margin-top: 20px;
}

.namhar {
    font-family: 'Roboto';
    font-size: 24px;
    color: #000000;
    background-color: #ffffff;
    margin-top: 0px;
}

.rectangle {
    position: static;
    width: 100px;
    height: 10px;
    background: #6EBA93;
    border-radius: 6px;
    margin-top: 10px;
}

.body {
    padding: 0px 10px;
}
