.card-b {
    margin-top: 50px;
    transition: 0.3s;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 100px;
}
 
 
.Titel-a {
    width: 504px;
    height: 100px;
    Text-align: left;
    position: static;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    margin-top: 100px;
    margin-left: 65px;
}
 
.content-b {
    position: static;
    width: 504px;
    height: 35px;
    top: 172px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 65px;
    margin-top: 75px;
}
.img {
    position: static;
    width: 285px;
    height: 380px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
}