.card-b {
    transition: 0.3s;
    background-color: #ffffff;
    padding: 100px 100px;
}
 
.Titel-a {
    width: 504px;
    Text-align: left;
    position: static;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 64px;
    color: #000000;
    padding: 80px 0px;
}
 
.content-b {
    position: static;
    font-family: 'Roboto';
    font-style: normal;
    width: 504px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.img {
    position: static;
    padding: 10px 50px;
}