.card1 {
    padding: 50px 100px;
    background-color: #ffffff;
}

.btn-c {
    background-color: #6EBA93;
    border-radius: 6px;
    color: #ffffff;
    width: 216px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: #6EBA93;
}
.container2 {
    display: grid;
    padding: 50px 0px;
    column-gap: 20px;
}
.container-2 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-auto-flow: row;
    padding: 50px 0px;
    column-gap: 20px;
    row-gap: 20px;
}
 
.Titel-b {
    width: 193px;
    height: 33px;
    font-family: 'Roboto';
    font-size: 28px;
    color: #000000;
}

.content-d {
    width: 240px;
    height: 300px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
}

.nambar {
    font-family: 'Roboto';
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

.namhar {
    font-family: 'Roboto';
    font-size: 24px;
    color: #000000;
    background-color: #ffffff;
}
.search {
    background: transparent;
    border: 1px solid #6C6C6C;
    border-radius: 6px;
    color: #A3A3A3;
    font-size: 18px;
    Text-align: left;
    padding: 10px 10px;
    width: 382px;
}
.cari {
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #6C6C6C;
    position: static;
    width: 46px;
    height: 46px;
    border: 1px solid #6C6C6C;
    box-sizing: border-box;
    border-radius: 6px;
}

.button2 {
    column-gap: 10px;
    display: flex;
    width: 382px;
}
.body {
    padding: 0px 10px;
}
